body {
	padding-top: 50px;
}
img:hover {
	 -moz-transform: scale(1.3);
 -webkit-transform: scale(1.3);
 transform: scale(1.3);
}
ul {
	font-family: Verdana;
	font-size: 20px;
}
.navbar {
	background-color: pink;
}